<ul class="header-ul">
    <li class="header-li"><a href="/"> Dashboard </a></li>
    <li class="header-li"><a href="/profile"> Profile </a></li>
    <li class="header-li"><a href="/slideshow"> Slide Show </a></li>
    <li class="header-li"><a href="/jukebox"> Jukebox </a></li>
    <span id="time"> </span>  
</ul>