<ul class="header-ul">
    <li class="header-li"><a href="/"> Dashboard </a></li>
    <li class="header-li"><a href="/profile"> Profile </a></li>
    <li class="header-li"><a href="/slideshow"> Slide Show </a></li>
    <span id="time"> </span>  
</ul>
<!-- Links for pages and the clock that was originally only for dashboard now gets used everywhere -->