body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightsteelblue;
    margin: 0 auto;
    width: 80%;
    border: 5px solid blue;
    padding: 0 3em 116px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    
}
h1 {
    color: whitesmoke;
    display:flex;
    flex-direction: row;


}
div {
    margin-bottom: 1em;
}
label {
    display: inline-block;
    width: 11em;
    text-align: right;
}
input {
    margin-left: 1em;
    margin-right: 0.5em;
}

.banner {
    height: 150px;
    background-color: blue;
    margin-top: 0em;
    width: 100%;
    padding:5px 10px;
    display:flex;
    flex-direction: row;

}

#time {
    color: whitesmoke;
    text-align: right;
    margin-left: 80%;

}

#profilepic{
    margin-left:40%;
    
}

#profilelink{
    color: whitesmoke;
}
.row{
   height:100%;
   display:flex;
   flex-wrap: wrap;
   flex-direction: row;
   justify-content: space-around; 
}
.col-1{
    width:40%;
    background-color: lightskyblue;
    margin-top: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
}
.col-2{
    width:40%;
    background-color: lightskyblue;
    display:flex;
    flex-wrap: wrap;
    margin-top: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
}
.col-3{
    width:40%;
    height: 500px;
    background-color: lightskyblue;
    margin-top: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
}
.col-4{
    width:40%;
    height:500px;
    background-color: lightskyblue;
    display:flex;
    flex-wrap: wrap;
    margin-top: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
}
.inputs{
    margin: 2em;
    text-align: center;
}
.outputs{
    margin: 1.5em;
    text-align: center;
}
.header-ul {
    list-style-type: none;
    width: 100%;
    height: 75px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  .header-li {
    float: left;
  }
  
  .header-li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  .header-li a:hover {
    background-color: cornflowerblue;
  }

  .footer-ul {
    list-style-type: none;
    width: 92%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    bottom: 0;
    position: absolute;
  }
  
  .footer-li {
    float: left;
  }
  
  .footer-li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  .footer-li a:hover {
    background-color: cornflowerblue;
  }

#image_list{
    list-style: none;
}
#timer{
    width:25%;
}