
/* I know this doesnt look great, but it definetly works on mobile! */

main {
    background-color: lightpink;
    align-items: center;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightsteelblue;
    margin: 0 auto;
    width: 100%;
    border: 5px solid #333333;;
    padding: 0 ;
    display:flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    
}
/* h1 {
    color: whitesmoke;
    display:flex;
    flex-direction: row;


} */
div {
    margin-bottom: 1em;
    align-items:center;
    justify-content: center;
    text-align: center;
    /* border: 5px solid; */
}
/* label {
    display: inline-block;
    width: 11em;
    text-align: right;
}
input {
    margin-left: 1em;
    margin-right: 0.5em;
} */

/* .banner {
    height: 150px;
    background-color: blue;
    margin-top: 0em;
    width: 100%;
    padding:5px 10px;
    display:flex;
    flex-direction: row;

} */

#time {
    color: whitesmoke;
    text-align: right;
    padding-right: 10%;
    padding-left: 65%;

}

#profilepic{
    margin-left:5%;
    margin-top:10px;
    margin-bottom:30px;
    
}

/* #profilelink{
    color: whitesmoke;
} */
/* .row{
   height:100%;
   display:flex;
   flex-wrap: wrap;
   flex-direction: row;
   justify-content: space-around; 
}
.col-1{
    width:40%;
    background-color: lightskyblue;
    margin-top: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
}
.col-2{
    width:40%;
    background-color: lightskyblue;
    display:flex;
    flex-wrap: wrap;
    margin-top: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
}
.col-3{
    width:40%;
    height: 500px;
    background-color: lightskyblue;
    margin-top: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
}*/
/* .col-4{
    width:40%;
    height:500px;
    display:flex;
    flex-wrap: wrap;
    margin-top: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
}  */
/* .inputs{
    margin: 2em;
    text-align: ;
}*/
/* .outputs{
    margin: 1.5em;
    text-align: center;
    margin-right: 0px;
}  */
.header-ul {
    list-style-type: none;
    width: 100%; 
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
  }
  
  .header-li {
    float: left;
  }
  
  .header-li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  .header-li a:hover {
    background-color: cornflowerblue;
  }

  .footer-ul {
    list-style-type: none;
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #333;

    bottom: 0;
  
    
  }
  
  .footer-li {
    float: left;
  }
  
  .footer-li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  .footer-li a:hover {
    background-color: cornflowerblue;
  }

#hide_list{
    list-style: none;
}

#timer{
    width:25%;
}

.picture{
    object-fit: cover;
}
#main_image{
    width: 100%;
    margin: 0px;
}


@media only screen and (max-width:768px) {
    #main_image{
        max-width: 100%;
        margin-left: 0px;
           
    }
   
}